@import "common/mobile";
@import "common/animate.min.css";

body,
html,#app{
  width: 100%;
  height: 100%;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
.flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
