<template>
  <div class="footer">
    <ul>
      <li v-for="(item, i) in FooterArr" :key="i">
        <router-link :to="{ name: item.name }">
          <div>
            <img
              :src="
                require(`../../assets/images/${item.name}_${
                  active === item.name ? 'on' : 'off'
                }.png`)
              "
              alt=""
            />
          </div>
          <p>{{ item.text }}</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
const FooterArr = [
  { name: "home", text: "首页" },
  { name: "classify", text: "频道" },
  { name: "find", text: "发现" },
  { name: "my", text: "我的" }
];
export default {
  name: "Footer",
  data() {
    return {
      FooterArr
    };
  },
  computed: {
    active() {
      return this.$router.currentRoute.name;
    }
  }
};
</script>

<style lang="less" scoped>
.footer {
  width: 100%;
  height: 102px;
  background: #414453;
  font-size: 23px;
  border-radius: 35px 35px 0 0;
  ul {
    overflow: hidden;
    li {
      float: left;
      width: 25%;
      text-align: center;
      a {
        color: #9c9fae;
        text-align: center;
        display: block;
        div {
          width: 47px;
          display: inline-block;
          height: 65px;
          line-height: 65px;
          img {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .router-link-active {
    color: #fff;
  }
}
</style>
