<template>
  <div class="classify flex">
    <div class="top"></div>
    <div class="content">
      频道分类
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  name: "Classify"
};
</script>

<style scoped lang="less"></style>
