<template>
  <div class="home flex">
    <div class="top"></div>
    <div class="content">
      首页
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {}
};
</script>
<style lang="less" scoped></style>
