<template>
  <div class="my flex">
    <div class="top"></div>
    <div class="content">
      我的
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  name: "My"
};
</script>

<style scoped lang="less"></style>
