<template>
  <div class="find flex">
    <div class="top"></div>
    <div class="content">
      发现
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  name: "Find"
};
</script>

<style scoped lang="less"></style>
